
<div class="burger-menu__overlay js-burger-overlay">

  </div>
<header class="page-header">
  <div class="container container--flex container--align-items-center">
      
      <img src="img/akbars-logo.svg" alt="Логотип Ак Барс" class="page-header__logo" width="52" height="30">
      <h1 class="page-header__page-title">
        Программа лояльности
      </h1>
     
      <div class="burger-menu">
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__list-item">
              <a href="#how-to-get" class="main-nav__link">Как получить</a>
            </li>
            <li class="main-nav__list-item">
              <a href="#bonuses" class="main-nav__link">Бонусы</a>
            </li>
            <li class="main-nav__list-item">
              <a href="#partners" class="main-nav__link">Партнеры</a>
            </li>
            <li class="main-nav__list-item">
              <a href="#faq" class="main-nav__link">Вопрос-ответ</a>
            </li>
          </ul>
        </nav>
        <div class="user">
          <a href="#" class="user__link user__link--sign-up">
            Зарегистрироваться
          </a>
          <span class="user__divider"></span>
          <a href="#" class="user__link user__link--sign-in">
            Войти
            <svg width="24" height="24" aria-hidden="true" class="icon-person">
              <use xlink:href="#person" />
            </svg>
          </a>
        </div>
      </div>
     
      <a href="#" role="button" class="burger-menu__open js-burger-menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </a>
      
  </div>
</header>
