.burger-menu {
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 50%;
    flex-grow: 1;
    @include breakpoint(desktop) {
        position: absolute;
        left: 0;
        width: 100%;
        top: 50px;
    
        background-image: linear-gradient(to right, $green, $red);
        z-index: -1;
        padding: 35px $desktop-content-padding;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s, visibility 0s linear .3s;
        transform: translateZ(0);
        backface-visibility: hidden;
    }

    @include breakpoint(mobile) {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: calc(100% - 40px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: 17px $mobile-content-padding;
        flex-direction: column;
    }

    .burger-menu-open & {
        opacity: 1;
        visibility: visible;
        transition: .3s;
    }
}

.burger-menu__open {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    align-self: stretch;
    display: none;
    margin-left: auto;
    margin-right: -$desktop-content-padding;
    background-color: $dark-grey;

    @include breakpoint(desktop) {
        display: flex;
    }
    @include breakpoint(mobile) {
        width: 50px;
        margin-right: -$mobile-content-padding;
    }
    > span {
        width: 22px;
        height: 2px;
        background-color: #fff;
        margin-bottom: 5px;
        transition: all .3s;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .burger-menu-open & {
        > span {
            &:nth-child(1) {
                transform: translateY(7px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }
}

main {
    // transition: filter .3s;
    // transform: translateZ(0);
    // backface-visibility: hidden;
}

// .burger-menu-open main {
//     filter: blur(5px);
// }

footer {
    // transition: filter .3s;
    // transform: translateZ(0);
    // backface-visibility: hidden;
}

// .burger-menu-open footer {
//     filter: blur(5px);
// }



.burger-menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .8);
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility 0s linear .3s;
    @supports ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px))) {
        background-color: rgba(white, .1);
        backdrop-filter: blur(5px);
    }
    
    .burger-menu-open & {
        opacity: 1;
        visibility: visible;
        transition: .3s;
    }
}
