@font-face {
    font-family: 'Super Molot';
    src: url('../misc/fonts/supermolot-webfont.woff2') format('woff2'),
         url('../misc/fonts/supermolot-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Super Molot';
    src: url('../misc/fonts/supermolot_black-webfont.woff2') format('woff2'),
         url('../misc/fonts/supermolot_black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Super Molot';
    src: url('../misc/fonts/supermolot_bold-webfont.woff2') format('woff2'),
         url('../misc/fonts/supermolot_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Super Molot';
    src: url('../misc/fonts/supermolot_light-webfont.woff2') format('woff2'),
         url('../misc/fonts/supermolot_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}