.container {
    width: 100%;
    max-width: $max-container-width + $desktop-content-padding * 2;
    padding: 0 $desktop-content-padding;
    margin: 0 auto;
    @include breakpoint(mobile) {
        padding: 0 $mobile-content-padding;
    }
    &--inner {
        max-width: $max-inner-container-width;
    }


    &--flex {
        display: flex;
    }

    &--align-items-center {
        align-items: center;
    }
}


.page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    @include breakpoint(mobile) {
        padding-top: 40px;
    }
}