.main-nav {
    margin-left: auto;
    align-self: stretch;
    display: flex;
    padding-right: 50px;
    @include breakpoint(large-desktop) {
        padding-right: 0;
       
    }

    @include breakpoint(desktop) {
        margin-left: 0;
    }

    @include breakpoint(mobile) {
        flex-direction: column;
        margin: auto 0;
    }
}

.main-nav__list {
    display: flex;
    position: relative;
    &-item {
        display: flex;
    }
    @include breakpoint(desktop) {
        flex-direction: column;
        padding-right: 62px;
        padding-left: 52px;
        &::after {
            content: '';
            width: 1px;
            background-color: #fff;
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 0;
            
        }
    }
    @include breakpoint(small-tablet) {
        padding-right: 30px;
    }
    @include breakpoint(mobile) {
        padding: 0;
        &::after {
            display: none;
        }
    }
}

.main-nav__link {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    @include breakpoint(desktop) {
        font-size: 22px;
        line-height: 1.54;
        padding: 15px 20px;
    }
    @include breakpoint(small-tablet) {
        font-size: 18px;
        padding: 12px 20px;
    }
    @include breakpoint(mobile) {
        width: 100%;
        font-size: 22px;
        line-height: 24px;
        padding: 16px 20px;
    }
    &:link,
    &:visited {
        color: white;
    }
    &:hover {
        text-decoration: underline;
    }
}
