// Colors

$green: #256963;
$red: #D81E23;
$bg-grey: #ECECEF;
$light-grey: #B9B9B9;
$dark-grey: #4B4D53;

// Widths

$max-container-width: 1570px;
$max-inner-container-width: 1220px;
$desktop-content-padding: 45px;
$mobile-content-padding: 20px;

// Breakpoints

$large-desktop-width: 1600px;
$desktop-width: 1366px;
$laptop-width: 1200px;
$tablet-width: 1024px;
$small-tablet-width: 968px;
$mobile-width: 768px;
$small-mobile-width: 576px;
$supersmall-mobile-width: 360px;

// Retina

$dpi: 144dpi;
$dppx: 1.5dppx;






